/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
:root {
    --ion-color-primary: #eb005e;
    --ion-color-primary-rgb: rgb(235, 0, 94);
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: rgb(0, 0, 0);
    --ion-color-primary-shade: #cf0053;
    --ion-color-primary-tint: #ed1a6e;
}

@font-face {
    font-family: 'dlxt';
    src: url('/font/dingliezhuhaifont-20240831GengXinBan.ttf') format('truetype');
}

@font-face {
    font-family: 'mbz';
    src: url('/font/font_2.ttf') format('truetype');
}

.font_mbz {
    font-family: 'mbz' !important;
}

.font_dlxt {
    font-family: 'dlxt' !important;
}